a.cardLinkColorInherit,
a.cardLinkColorInherit:hover {
  color: inherit;
  text-decoration: none;
  
}

.closeIMGSize{
    height: 20px;
    width: auto;
}

.col-10 {
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto;
    word-wrap:break-word;
 }


.navbar-custom{
    color: black;
}

.mainBG{
    background-color: black;
}

.onTopBG{
    background-color: rgb(46, 48, 48);
}

.cardOutline{
    border-color: #a1a1a1;
    background-color: rgb(46, 48, 48);
    margin: 5%;
    
}

.whiteFont{
    color: white;
}

.alignCenterY{
    display: flex;
    align-items: center;
}

.alignCenterX{
    display: flex;
    justify-content: center;
}

.setFontSize30{
    font-size: 30px;
}
.setFontSize70{
    font-size: 70px;
}

.undoBtnSize{
    height: 50px;
    width: auto;
}



.taskListStyle{
    min-height: 550px;
    width: auto;
    list-style-type:none;
    border: 1px solid #a1a1a1;
    background-color: rgb(78, 78, 78)
}

li.setup,
li.setup:before {
    content: "- ";
    color: white; /* or whatever color you prefer */
}